.navbar{
    display: flex;
    align-items: center;
    margin: 4px 5%;
    border: 2px solid rgb(198, 239, 255);
    border-radius: 30px;
    height: 60px;
    padding: 2px;
    list-style-type: none;
    gap: 10px;
    position: sticky;
}

.logo{
    width: 48px;
    margin: 4px;
}

.logo img{
    width: 100%;
    object-fit: fill;
}

#wordmark{
    color: #0059ff;
    font-size: 20px;
    font-weight: bolder;
    font-family: monospace ;
    margin-right: auto;
}